.agregado {
	background-image: url('/media/cod-home-02.png');
	background-position: center;
	background-size: cover;
	height: calc(100vh - 6rem);

	&__titulo {
		@include montserrat_semibold;
		font-size: 1.8rem;
	}

	&__parrafo {
		@include montserrat_regular;
		font-size: 1rem;
		padding-top: 1rem;
	}

	&__conozca {
		&__boton {
			display: flex;
			flex-wrap: nowrap;
			position: relative;

			&__chevron {
		    height: 1.5rem;
		    position: absolute;
		    right: 1rem;
		    top: 50%;
		    transform: translateY(-50%);
			}
			@media screen and (min-width: $bp_medium) {
				white-space: nowrap;
			}
		}
	}
}