.boton {
	background-color: $flamingo;
	border-radius: 1.5rem;
	color: $blanco;
	display: inline-block;
	font-family: 'Montserrat SemiBold', sans-serif;
	font-size: 1.2rem;
	min-height: 3.2rem;
	padding: 0.7rem 2.4rem;
	text-decoration: none;

	&--transp {
		background-color: transparent;
		border: 2px solid $blanco;
	}

	&--revert {
		background-color: $blanco;
		color: $flamingo;
	}

	&--vacio {
		background-color: transparent;
		border: 2px solid $flamingo;
		color: $flamingo;
	}

	&--ancho {
		padding: 0.7rem;
		text-align: center;
		width:100%;
	}
}
