.campo {
	background-color: transparent;
	border: 2px solid $blanco;
	border-radius: 1.5rem;
	color: $blanco;
	display: block;
	font-family: 'Montserrat SemiBold', sans-serif;
	font-size: 1rem;
	height: 50px;
	padding: 0.6rem;
	width: 100%;

	&:focus {
		box-shadow: 0 0 4px 3px $blanco;
		outline: 0;
	}

	&::placeholder {
		color: transparentize($blanco, 0.2);
		text-overflow: ellipsis;
	}

  &.area {
    height: 135px;
  }
}