.codigitadores {
	padding: 6rem 0;

	@media screen and (min-width: $bp_medium) {
		padding: 6rem 3rem;
	}

	&__img {
		object-fit: contain;
		width: 12rem;

		@media screen and (min-width: $bp_medium) {
			height: 12rem;
		}
	}
	&__nombre {
		@include roboto_medium;
		color: $flamingo;
    font-size: 1.3rem;
	}
	&__rol {
		@include roboto_medium;
		color: $gris;
	}
	&__hr {
		border: 1px solid $naranja;
		margin-bottom: 1rem;
		margin-top: 1rem;
		width: 75%;
	}
	&__contactos {
		margin: 0 0 20px;
		flex-shrink: 0;
	}
	&__boton {
		white-space: nowrap;

		@media screen and (max-width: $bp_medium) {
			margin-top: 15px;
	    padding: 0.5rem 1rem;
		}
	}
}