.contacto {
	background-color: $naranja;

	&__enviando,
	&__enviado {
		padding-bottom: 30px;
	}

	&__subtitulo {
		@include roboto_medium;
		font-size: 1.8rem
	}

	&__campos {
		padding-bottom: 40px;
	}

	&__col {
		padding: 15px 0;
		position: relative;

		@media screen and (min-width: $bp_medium) {
			&:first-child {
				padding-left: 15px;
			}
			&:last-child {
				padding-right: 15px;
			}
		}
		@media screen and (min-width: $bp_large) {
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}

	&__popup {
		background-color: transparentize($blanco, .2);
		border: $gris;;
		border-radius: 6px;
		color: $gris1;
		top: 55px;
		padding: 6px 12px;
		position: absolute;
		z-index: 4;
	}

  &__productos {
    margin-bottom: 1rem;

    &__label {
      @include montserrat_semibold;
    }
    &__input {
      opacity: 0;
      width: 0;
      &:checked ~ .tildado {
        height: 0;
        opacity: 1;
      }
    }
    .tildado {
      left: .5rem;
      font-size: 1.5rem;
      line-height: 1rem;
      opacity: 0;
      position: relative;
      top: .2rem;
      transition: opacity .5s ease;
      width: 1rem;
    }
    &__caja {
      border: 1.5px solid white;
      border-radius: 3px;
      display: inline-block;
      height: 1.3rem;
      left: -1rem;
      position: relative;
      top: .3rem;
      width: 1.3rem;
    }
  }

	&--largo {
		background-image: url('/media/cod-img-contacto.png');
    background-position-x: center;
		background-size: cover;
		padding: 80px 15px;

    @media screen and (min-width: $bp_large) {
      padding: 80px;
    }

		.encabezado {
			@include montserrat_semibold;
    	color: $blanco;
    	font-size: 1.4rem;
    	margin-top: 3rem;;
		}

		.parrafo {
			margin-bottom: 1rem;
			margin-top: 1rem;
		}

		.datos {
			display: flex;
			&__lista {
				align-self: flex-end;
			}
		}

		.fila {
			margin-bottom: 1rem;
			margin-top: 10px;

			&--dato {
				padding-top: 0.5rem;
				&:not(:first-child) {
					border-top: 1px dotted $blanco;
				}
			}

			.icono {
				width: 40px;
			}
			.texto {
				margin-left: 10px;
				vertical-align: middle;
			}
		}

		&__telefono {
			width: calc(66.66667% - 15px);
			margin-left: 15px;
		}

	}
}