.inicio {
	background-image: url('/media/cod-home-01.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: calc(100vh - 2rem);
	position: relative;
	width: 100%;

	&__buscamos {
		padding-bottom: 2rem;
	}

	&__texto {
		color: $blanco;
		font-family: 'Montserrat SemiBold', sans-serif;
		font-size: 1.3rem;
		margin-top: 20vh;
		text-align: center;
		@media screen and (min-width: $bp_medium) {
			margin-top: 130px;
			font-size: 1.5rem;
		}
	}

	&__cuentame {
		display: flex;
		justify-content: center;
	}
}