
.nav {
	background-color: $naranja;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
  position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

	&__logo {
		display: flex;
		flex-shrink: 0;
		flex-wrap: nowrap;
		margin-right: 30px;

		&__icono {
			height: 31px;
			padding-right: 10px;
		}
		&__letras {
			height: 31px;
			@media screen and (min-width: $bp_nav) {
				display: none;
			}
			@media screen and (max-width: $bp_small) {
				display: none;
			}
			@media screen and (min-width: $bp_large) {
				display: unset;
			}

		}
	}

	&__boton {
		display: block;
		color: #fff;
		cursor: pointer;
    @include montserrat_semibold;
    font-size: 2.5rem;
    margin-right: 1rem;

		@media screen and (min-width: $bp_medium) {
			display: none;
		}
	}

	&__menu {
		background-color: $naranja;
		display: none;
    position: absolute;
    padding-right: 1rem;
    right: 0;
    top: 4rem;

		&__elemento {
			color: $gris1;
			display: block;
			@include montserrat_semibold;
			font-size: 15px;
			text-decoration: none;

			&.ancla {
				padding: 8px;
			}

			&:hover {
				color: $blanco;
			}

			&.active {
				color: $gris2;
			}
		}
		&__submenu {
			margin: 10px 0;
			padding: 0 10px;
		}
    &__bandera {
      width: 20px;
    }

	}
	&--bajado {
		background-color: $naranja;
	}

	&__colapsador {
		position: relative;
		padding-left: 0;

		&__barra {
			cursor: pointer;
			flex-basis: 100%;
			padding-bottom: 8px;
			position: relative;

			&:hover {
				color: $blanco;
			}
		}

		&__caret {
			border-top: 7px solid $gris1;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			height: 0;
			position: absolute;
			right: 15px;
			top: 18px;
			transition: transform 0.5s;
			width: 0;

			&.girado {
				transform: rotate(90deg);
			}
		}

		&__contenido {
			background-color: $naranja;
			max-height: 0;
			flex-basis: 100%;
			overflow: hidden;
			padding-left: 8px;
			transition: max-height 0.5s ease-out;

			&.expandido {
				max-height: 100px;
				padding: 0 10px 10px 15px;
			}
		}

		&__elemento {
      min-width: 130px;
			padding-top: 15px;
		}

		&.desplegable {
      padding-top: 6px;
      padding-left: 7px;
      min-width: 50px;

			.nav__colapsador__caret {
				right: 0;
				top: 15px;
			}

			.nav__colapsador__contenido {
				background-color: $flamingo;
				box-shadow: -2px 2px 5px 0px transparentize($negro, 0.50);
				position: absolute;
				right: 0;
			}
		}
	}


	.bm-burger-button {
		height: 25px;
    top: 20px;
    width: 30px;
  }
  .bm-burger-bars {
    background-color: $blanco;
    border-radius: 2px;
  }
  .bm-menu {
  	background-color: $flamingo;
  }
  .bm-item-list>.nav__colapsador{
  	padding: 10px;
  	flex-wrap: wrap;
  }

	@media screen and (min-width: $bp_nav) {
		.bm-burger-button {
    	display: none;
  	}

		&__menu {
			background-color: transparent;
    	display: flex;
    	justify-content: flex-end;
    	position: relative;
    	top: 0;

			&__elemento {
				flex: 1 1 auto;
			}
		}
		&--border {
			border-bottom: 1px solid $blanco;
		}

		// dropdown
		.bp-dropdown {
			color: $gris1;
			display: block;
			@include montserrat_semibold;
			font-size: 15px;
			padding: 8px;
			text-decoration: none;

			&:hover {
				color: $blanco;
			}

			&__btn {
				border: none;
				padding-top: 0;
				&--active {
					background-color: transparent;
				}
			}

			&__body {
				background-color: $flamingo;

				ul {
					list-style: none;
    			padding-inline-start: 0;
				}
			}
		}
	}

}