.pie {
	background-color: $gris;

	&-wrap {
		height: calc(100vh - 6rem);
		margin-top: 0;
	}

	&__arriba {
		align-items: center;
		padding-top: 40px;

		&__logo {
			width: 300px;
		}
	}

	&__redes {
		display: flex;
		justify-content: space-between;
	}

	&__social {
		img {
			object-fit: contain;
			width: 45px;
		}
	}
	&__carta {
		position: relative;
		.icono {
			object-fit: contain;
			width: 45px;
		}
		.popover {
			border: 1px solid $blanco;
			display: none;
			position: absolute;
			top: -20px;
		}

		&:hover {
			.popover {
				display: block;
			}
		}
	}
	&__abajo {
		@include roboto_light;
		font-size: .9rem;

		&__ancla {
			color: $blanco;
		}
	}
	.grid-margin-x {
		margin-right: 0;
	}

}