.podemos {
	background-image: url('/media/cod-home-03.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	&__area {
		justify-content: center;
		padding: 4rem 2rem;

		&__subtitulo {
			@include montserrat_regular;
			border-bottom: 1.5px solid $blanco;
			font-size: 1.8rem;
			padding-bottom: 10px;
			text-align: center;
		}

		&__lista {
			@include roboto_medium;
			font-size: 1.2rem;
			padding-bottom: 3rem;
		}

		&__wbot {
			position: absoute;
			bottom: 0;
		}

		&__boton {
			text-decoration: none;
			padding-left: 3rem;
			padding-right: 3rem;
		}

		@media screen and (min-width: $bp_medium) {
			padding: 5rem 2rem;
		}
	}

	&__fila {
		justify-content: center;
	}

	&__col {
		position: relative;
	}

	&__tecno {
		background-color: $flamingo;
		justify-content: center;
		padding: 1rem 1.5rem .5rem;

		&__cell {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;

			&__img {
				height: 2.5rem;
				margin: 0 1rem;
				@media screen and (min-width: $bp_medium) {
					height: 3rem;
				}
			}
		}

    &__elem {
      margin-bottom: 1rem;
    }
	}

}