.proceso {

	&__prev,
	&__post {
    cursor: pointer;
    height: 100%;
		background: transparent;
  	height: 100%;
		position: absolute;
  	top: 0;
  	width: 3rem;
  	z-index: 3;

		&:hover {
			background-color: transparentize($blanco, .8);
		}
	}
	&__flecha {
		left: 50%;
		height: 2rem;
		top: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		width: auto;
	}

	&__prev {
		left: 0;
	}
	&__post {
		right: 0;
	}
	.owl-theme {
		.owl-nav {
			display: none;
		}

		.owl-dots {
			bottom: 4rem;
			left: 50%;
			margin-top: 4rem;
			position: relative;
			transform: translateX(-50%);

			.owl-dot {
				span {
					@include montserrat_semibold;
					background-color: transparent;
					border: 1px solid $blanco;
					color: $blanco;
					font-size: 1rem;
					height: 2rem;
					line-height: 2rem;
					width: 2rem;
				}


				&:hover {
					span {
						background-color: transparentize($blanco, .5);
					}
				}

				&.active {
					span {
						background-color: $blanco;
						color: $naranja;
					}
				}
			}
		}

	}
	.paso {
		padding: 4rem 2.5rem 0;

		&__num {
			@include montserrat_semibold;
			font-size: 3rem;
			padding-right: 1rem;
			padding-top: 1rem;
			text-align: right;
			@media screen and (min-width: $bp_medium) {
				font-size: 4rem;
			}
		}

		&__desc {
			&__titulo,
			&__subtitulo {
				font-size: 1.5rem;
				line-height: 2rem;
				padding-bottom: 0.5rem;
				padding-top: 0.5rem;
				@media screen and (min-width: $bp_medium) {
					font-size: 2rem;
				}
			}
			&__titulo {
				border-bottom: 1px solid $blanco;
				border-top: 1px solid $blanco;
			}
			&__subtitulo {
				border-top: 1px dashed $blanco;
				font-style: italic;
			}
			&__texto {
				@include roboto_light;
				font-size: 1.2rem;
				margin-top: 2rem;
			}

		}
		&__grafico {
			width: auto;
		}
		&__centro {
			display: flex;
			justify-content: center;
		}
		@media screen and (min-width: $bp_medium) {
			padding: 6rem 4rem 0;
		}
	}
}