.productos {
  padding-top: 5rem;
  &__fila {
    display: flex;
  }

  &__elemento {
    background: linear-gradient(to bottom, adjust-color($naranja, $lightness: 30%) 0%, $naranja 100%);
    border-radius: 2rem;
    margin-bottom: 16px;
    padding: 16px 16px 40px;
  }

  &__contenedor {
    height: 100%;
  }

  &__comenzamos {
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 1.5rem;
    padding-top: 2rem;
  }
  &__interesa {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  &__cuadrado {
    height: 0;
    margin: 1.5rem auto;
    max-width: 150px;
    overflow: hidden;
    padding-top: 60%;
    position: relative;
    width: 60%;

    &__img {
      height: 100%;
      left: 0;
      object-fit: contain;
      object-position: center;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}