.proximo {
	bottom: 0;
	position: absolute;
	transform: translateY(80%);
	width: 100%;
	z-index: 2;

	&__encabezado {
		background-color: $gris;
		color: $blanco;
		font-family: 'Montserrat SemiBold', sans-serif;
		font-size: 1.5rem;
		padding: 0.8rem 1rem;
		width: 100%;
	}

	&--blanco {
		transform: unset;

		.proximo__encabezado {
			background-color: $blanco;
			border: 1.5px solid $naranja;
			color: $naranja;
		}
	}
	&--arriba {
		bottom: unset;
		top: 0;
	}
}