.seccion {
	color: $negro;
	min-height: calc(100vh - 6rem);
	position: relative;
	width: 100%;

	&--revert {
		background-color: $naranja;
		color: $blanco;
	}

	&--fit {
		min-height: unset;
	}

	&-md-fit {
		@media screen and (min-width: $bp_medium) {
			min-height: unset;
		}
	}

	&__contenedor {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		min-height: calc(100vh - 6rem);
	}
}