@media print, screen and (min-width: 48em) {
  .grid-x,
  .grid-y {
    > .tablet-1,
    > .tablet-10,
    > .tablet-11,
    > .tablet-12,
    > .tablet-2,
    > .tablet-3,
    > .tablet-4,
    > .tablet-5,
    > .tablet-6,
    > .tablet-7,
    > .tablet-8,
    > .tablet-9,
    > .tablet-full,
    > .tablet-shrink {
      flex-basis: auto;
    }
    > .tablet-auto {
      flex: 1 1 0px;
    }
    > .tablet-1,
    > .tablet-10,
    > .tablet-11,
    > .tablet-12,
    > .tablet-2,
    > .tablet-3,
    > .tablet-4,
    > .tablet-5,
    > .tablet-6,
    > .tablet-7,
    > .tablet-8,
    > .tablet-9,
    > .tablet-shrink {
      flex: 0 0 auto;
    }

  }

  .grid-x {
    > .tablet-auto {
      width: auto;
    }
    > .tablet-shrink {
      width: auto;
    }
    @for $i from 1 through 12 {
      > .tablet-#{$i} {
        width: percentage($i / 12);
      }
    }

    .small-margin-collapse {
      @for $i from 1 through 12 {
        > .tablet-#{$i} {
          width: percentage($i / 12);
        }
      }
    }

    .tablet-margin-collapse {
      margin-right: 0;
      margin-left: 0;

      > .cell {
        margin-right: 0;
        margin-left: 0;
      }
      @for $i from 1 through 12 {
        > .small-#{$i},
        > .medium-#{$i} {
          width: percentage($i / 12);
        }
      }
    }
  }

  .grid-y {
    > .tablet-auto {
      height: auto;
    }
    > .tablet-shrink {
      height: auto;
    }
    @for $i from 1 through 12 {
      > .tablet-#{$i} {
        height: percentage($i / 12);
      }
    }
  }

  .grid-margin-x {
    > .tablet-auto {
      width: auto;
    }

    > .tablet-shrink {
      width: auto;
    }

    @for $i from 1 through 12 {
      > .tablet-#{$i} {
        width: calc(#{ percentage($i / 12) } - 1.875rem);
      }
    }

    @for $i from 1 through 8 {
      > .tablet-up-#{$i} > .cell {
        width: calc(#{percentage(1 / $i)} - 1.875rem);
      }
    }
  }

  .grid-margin-y {
    > .tablet-auto {
      height: auto;
    }

    > .tablet-shrink {
      height: auto;
    }

    @for $i from 1 through 12 {
      > .tablet-#{$i} {
        height: calc(#{ percentage($i / 12) } - 1.875rem);
      }
    }

    @for $i from 1 through 8 {
      > .tablet-up-#{$i} > .cell {
        height: calc(#{percentage(1 / $i)} - 1.875rem);
      }
    }
  }


  .tablet-margin-collapse {
    @for $i from 1 through 12 {
      > .tablet-#{$i} {
        width: percentage($i / 12);
      }
    }
  }

  .tablet-offset-0 {
    margin-left: 0;
  }

  .grid-margin-x > .tablet-offset-0 {
    margin-left: calc(0% + .9375rem);
  }

  .tablet-offset-1 {
    margin-left: 8.33333%;
  }

  .grid-margin-x > .tablet-offset-1 {
    margin-left: calc(8.33333% + .9375rem);
  }

  .tablet-offset-2 {
    margin-left: 16.66667%;
  }

  .grid-margin-x > .tablet-offset-2 {
    margin-left: calc(16.66667% + .9375rem);
  }

  .tablet-offset-3 {
    margin-left: 25%;
  }

  .grid-margin-x > .tablet-offset-3 {
    margin-left: calc(25% + .9375rem);
  }

  .tablet-offset-4 {
    margin-left: 33.33333%;
  }

  .grid-margin-x > .tablet-offset-4 {
    margin-left: calc(33.33333% + .9375rem);
  }

  .tablet-offset-5 {
    margin-left: 41.66667%;
  }

  .grid-margin-x > .tablet-offset-5 {
    margin-left: calc(41.66667% + .9375rem);
  }

  .tablet-offset-6 {
    margin-left: 50%;
  }

  .grid-margin-x > .tablet-offset-6 {
    margin-left: calc(50% + .9375rem);
  }

  .tablet-offset-7 {
    margin-left: 58.33333%;
  }

  .grid-margin-x > .tablet-offset-7 {
    margin-left: calc(58.33333% + .9375rem);
  }

  .tablet-offset-8 {
    margin-left: 66.66667%;
  }

  .grid-margin-x > .tablet-offset-8 {
    margin-left: calc(66.66667% + .9375rem);
  }

  .tablet-offset-9 {
    margin-left: 75%;
  }

  .grid-margin-x > .tablet-offset-9 {
    margin-left: calc(75% + .9375rem);
  }

  .tablet-offset-10 {
    margin-left: 83.33333%;
  }

  .grid-margin-x > .tablet-offset-10 {
    margin-left: calc(83.33333% + .9375rem);
  }

  .tablet-offset-11 {
    margin-left: 91.66667%;
  }

  .grid-margin-x > .tablet-offset-11 {
    margin-left: calc(91.66667% + .9375rem);
  }


}
@media print, screen and (min-width: 48em) {
  .hide-for-tablet {
    display: none !important;
  }
}

@media screen and (max-width: 48em) {
  .show-for-tablet {
    display: none !important;
  }
}

@media screen and (min-width: 48em) and (max-width: 63.99875em) {
  .hide-for-tablet-only {
    display: none !important;
  }
}