.trabajamos {
	padding-top: 5rem;
	&__fila {
		display: flex;
		align-items: center;
	}

	&__elemento {
		padding-bottom: 40px;
	}

	&__contenedor {
		height: 100%;
	}

	&__comenzamos {
		font-family: 'Montserrat SemiBold', sans-serif;
		font-size: 1.5rem;
		padding-top: 2rem;
	}
	&__interesa {
		padding-bottom: 2rem;
		padding-top: 2rem;
	}
	&__img {
		margin-bottom: 1.5rem;
	}
}