

$font-path: '~/fonts';

/* Montserrat Regular*/

@font-face {
	font-family: "Montserrat Regular";
  src: url("#{$font-path}/Montserrat-Regular.eot"); /* IE9*/
  src: url("#{$font-path}/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("#{$font-path}/Montserrat-Regular.woff2") format("woff2"), /* chrome、firefox */
  url("#{$font-path}/Montserrat-Regular.woff") format("woff"), /* chrome、firefox */
  url("#{$font-path}/Montserrat-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("#{$font-path}/Montserrat-Regular.svg#Montserrat Regular") format("svg"); /* iOS 4.1- */
}

@mixin montserrat_regular {
  font-family:"Montserrat Regular" !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
	font-family: "Montserrat SemiBold";
  src: url("#{$font-path}/Montserrat-SemiBold.eot"); /* IE9*/
  src: url("#{$font-path}/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("#{$font-path}/Montserrat-SemiBold.woff2") format("woff2"), /* chrome、firefox */
  url("#{$font-path}/Montserrat-SemiBold.woff") format("woff"), /* chrome、firefox */
  url("#{$font-path}/Montserrat-SemiBold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("#{$font-path}/Montserrat-SemiBold.svg#Montserrat SemiBold") format("svg"); /* iOS 4.1- */
}

@mixin montserrat_semibold {
  font-family:"Montserrat SemiBold" !important;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Roboto Light";
  src: url("#{$font-path}/robotoLight.eot"); /* IE9*/
  src: url("#{$font-path}/robotoLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("#{$font-path}/robotoLight.woff2") format("woff2"), /* chrome、firefox */
  url("#{$font-path}/robotoLight.woff") format("woff"), /* chrome、firefox */
  url("#{$font-path}/robotoLight.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("#{$font-path}/robotoLight.svg#Roboto Light") format("svg"); /* iOS 4.1- */
}

@mixin roboto_light {
  font-family:"Roboto Light" !important;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("#{$font-path}/robotoMedium.eot"); /* IE9*/
  src: url("#{$font-path}/robotoMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("#{$font-path}/robotoMedium.woff2") format("woff2"), /* chrome、firefox */
  url("#{$font-path}/robotoMedium.woff") format("woff"), /* chrome、firefox */
  url("#{$font-path}/robotoMedium.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("#{$font-path}/robotoMedium.svg#Roboto Medium") format("svg"); /* iOS 4.1- */
}

@mixin roboto_medium {
  font-family:"Roboto Medium" !important;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}