
// Colors
$blanco: #fff;
$naranja: #f88239;
$flamingo: #f15934;
$gris: #777;
$gris1: #464241;
$gris2: #ddd;
$negro: #000;

$bp_zero: 0px;
$bp_small: 375px;
$bp_medium: 640px;
$bp_tablet: 48em;
$bp_large: 1024px;
$bp_xlarge: 1200px;
$bp_xxlarge: 1440px;

$bp_nav: 820px;